version: '3.9'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: lms-mssql
    env_file: 
      - .env
    environment:
      SA_PASSWORD: ${MSSQL_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - lms-network
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '${MSSQL_PASSWORD}' -C -Q 'SELECT 1' || exit 1"]
      interval: 10s
      retries: 5
      start_period: 10s

  redis:
    image: redis/redis-stack:latest
    container_name: lms-redis
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
      - "8001:8001"
    networks:
      - lms-network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      retries: 5
      start_period: 5s

  backend:
    build:
      context: .
      dockerfile: LMS/Dockerfile
    container_name: lms-backend
    ports:
      - "5298:8080"
    environment: 
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=lms-mssql;Database=LMS;User Id=sa;Password=${MSSQL_PASSWORD};TrustServerCertificate=True;Encrypt=False;
    depends_on:	
      mssql:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - lms-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: lms-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    networks:
      - lms-network
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: lms-nginx
    ports:
      - "80:80"   
      - "8081:8080" 
    volumes:
      - ./nginx-1.28.0/conf:/etc/nginx/conf.d:ro
    depends_on:
      - frontend
      - backend
    networks:
      - lms-network

networks:
  lms-network:
    driver: bridge